@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

@font-face {
    font-family: "bavarian-regular";
    src: url(./font/bavarian-regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-image: url(./images/background.jpg);
    width: 1440px;
    background-repeat: no-repeat;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /*footer height*/
}

h1 {
    font-family: bavarian-regular;
    align-content: center;
}

h3 {
    font-weight: 500;
}

.hero {
    padding: 20px;
    position: center;
    color: #21605D;
    width: fit-content;
    top: 50%;
    
}

.banner {
background-size: cover;
background-position: center;

}

.girl {
    position: center;
    
}

.logo-home {
    width: 50px;
    position: centre;
    cursor: pointer;
}

.navbar {
    z-index: 10000;
    position: sticky;
    top: 0px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: #21605D;
    background: -moz-linear-gradient(0 0 0 .57);
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;

}

.navbar ul li a {
  text-decoration: none;
  color: #21605D;
  text-transform: uppercase;
}

.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.column {
    float: right;
    font-family: 'poppins';
    font-weight: 500;
    
}

.container:after {
    content: "";
    display: table;
    clear: both;
    align-content: center;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    
}

button {
    width: 100px;
    padding: 18px 10px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 12px;
    font-weight:bold;
    border: #21605D;
    background-color: #21605D;
    color: azure;
    cursor: pointer;
}

#footer {
    background-color: #21605D;
    position:sticky;
    bottom:0;
    background-image: url(images/patternfooter.svg);
    
}

.footer-logo {
    height: 200px;
    margin-left: 20px;
}
.contnr {
    max-width: 1440px;
    margin: auto;
    max-height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap ;
}

.footer-col ul {
    list-style: none;
}

.footer-col{
width: 25%;
padding: 0;
}

.footer-col h4 {
font-size: 18px;
color: aliceblue;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;
}

.footer-col h4::before{
    content:'' ;
    position: absolute;
    left: 0;
    bottom: -10px ;

}

.footer-col ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}

.social-icon {
width: 30px;
height: 30px;
margin-left: 18px;
}